{% for additional_request in additional_requests %}

{% set contextHref = "/additional-requests/" + additional_request.id + "#context" %}
{% set descriptionHref = "/additional-requests/" + additional_request.id + "#description" %}

<br>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Context"
      },
      value: {
        text: additional_request.context
      },
      actions: {
        items: [
          {
            href: contextHref,
            text: "Change",
            visuallyHiddenText: "Context"
          }
        ]
      }
    },
    {
      key: {
        text: "Description"
      },
      value: {
        html: additional_request.description
      },
      actions: {
        items: [
          {
            href: descriptionHref,
            text: "Change",
            visuallyHiddenText: "description"
          }
        ]
      }
    }
  ]
}) }}
{% endfor %}