{% set addTeamMemberSummaryData = [] %}

{% for team_member in add_team_member %}

  {% set addTeamMemberEditHref = "/add-team-member/" + team_member.id %}
  {% set addTeamMemberDeleteHref = "/add-team-member/remove/" + team_member.id %}

  {% set addTeamMemberSummaryData = (addTeamMemberSummaryData.push({
    key: { 
      text: "Add existing member(s) to " + team_member.team_name + " team"
    },
    value: {
      text: team_member.github_handles
    },
    actions: {
      items: [
        {
          href: addTeamMemberEditHref,
          text: "Edit",
          visuallyHiddenText: "Add existing member(s) to " + team_member.team_name + " team"
        },
        {
          href: addTeamMemberDeleteHref,
          text: "Delete",
          visuallyHiddenText: "Add existing member(s) to " + team_member.team_name + " team"
        }
      ]
    }
  }), addTeamMemberSummaryData) %}

{% endfor %}

{{ govukSummaryList({
  rows: addTeamMemberSummaryData
}) }}