{% set addMemberSummaryData = [] %}

{% for member in add_member %}

  {% set addMemberEditHref = "/add-member/" + member.id %}
  {% set addMemberDeleteHref = "/add-member/remove/" + member.id %}

  {% set addMemberSummaryData = (addMemberSummaryData.push({
    key: { 
      text: "New member name"
    },
    value: {
      text: member.first_name + " " + member.last_name
    },
    actions: {
      items: [
        {
          href: addMemberEditHref,
          text: "Edit",
          visuallyHiddenText: "New member name"
        },
        {
          href: addMemberDeleteHref,
          text: "Delete",
          visuallyHiddenText: "New member name"
        }
      ]
    }
  }), addMemberSummaryData) %}

{% endfor %}

{{ govukSummaryList({
  rows: addMemberSummaryData
}) }}