{% set addTeamSummaryData = [] %}

{% for team in add_team %}

  {% set addTeamEditHref = "/add-team/" + team.id %}
  {% set addTeamDeleteHref = "/add-team/remove/" + team.id %}

  {% set addTeamSummaryData = (addTeamSummaryData.push({
    key: { 
      text: "New team name"
    },
    value: {
      text: team.team_name
    },
    actions: {
      items: [
        {
          href: addTeamEditHref,
          text: "Edit",
          visuallyHiddenText: "New team name"
        },
        {
          href: addTeamDeleteHref,
          text: "Delete",
          visuallyHiddenText: "New team name"
        }
      ]
    }
  }), addTeamSummaryData) %}

{% endfor %}

{{ govukSummaryList({
  rows: addTeamSummaryData
}) }}