{% if (add_team and add_team.length > 0)
    or (add_repo and add_repo.length > 0)
    or (add_member and add_member.length > 0)
    or (add_team_member and add_team_member.length > 0)
    or (add_collaborator and add_collaborator.length > 0)
    or (additional_requests and additional_requests.length > 0) %}

    {% include "include/list/add-member.html" %}
    {% include "include/list/add-team.html" %}
    {% include "include/list/add-team-member.html" %}
    {% include "include/list/add-repo.html" %}
    {% include "include/list/add-collaborator.html" %}
    {% include "include/list/additional-requests.html" %}

{% endif %}