{% set CollaboratorSummaryData = [] %}

{% for collaborator in collaborators %}

  {% set CollaboratorEditHref = "/github/update/collaborator/" + collaborator.id %}
  {% set CollaboratorDeleteHref = "/github/remove/collaborator/" + collaborator.id %}

  {% set CollaboratorSummaryData = (CollaboratorSummaryData.push({
    key: { 
      text: "Collaborator name"
    },
    value: {
      text: collaborator.first_name + " " + collaborator.last_name
    },
    actions: {
      items: [
        {
          href: CollaboratorEditHref,
          text: "Edit",
          visuallyHiddenText: "Collaborator name"
        },
        {
          href: CollaboratorDeleteHref,
          text: "Delete",
          visuallyHiddenText: "Collaborator name"
        }
      ]
    }
  }), CollaboratorSummaryData) %}

{% endfor %}

{{ govukSummaryList({
  rows: CollaboratorSummaryData
}) }}