{% set memberSummaryData = [] %}

{% for member in members %}

  {% set memberEditHref = "/github/update/member/" + member.id %}
  {% set memberDeleteHref = "/github/remove/member/" + member.id %}

  {% set memberSummaryData = (memberSummaryData.push({
    key: { 
      text: "Member name"
    },
    value: {
      text: member.first_name + " " + member.last_name
    },
    actions: {
      items: [
        {
          href: memberEditHref,
          text: "Edit",
          visuallyHiddenText: "Member name"
        },
        {
          href: memberDeleteHref,
          text: "Delete",
          visuallyHiddenText: "Member name"
        }
      ]
    }
  }), memberSummaryData) %}

{% endfor %}

{{ govukSummaryList({
  rows: memberSummaryData
}) }}