{% set repoSummaryData = [] %}

{% for repo in repos %}

  {% set repoEditHref = "/github/update/repo/" + repo.id %}
  {% set repoDeleteHref = "/github/remove/repo/" + repo.id %}

  {% set repoSummaryData = (repoSummaryData.push({
    key: { 
      text: "Repository name"
    },
    value: {
      text: repo.repo_name
    },
    actions: {
      items: [
        {
          href: repoEditHref,
          text: "Edit",
          visuallyHiddenText: "Repository name"
        },
        {
          href: repoDeleteHref,
          text: "Delete",
          visuallyHiddenText: "Repository name"
        }
      ]
    }
  }), repoSummaryData) %}

{% endfor %}

{{ govukSummaryList({
  rows: repoSummaryData
}) }}