{% set teamMemberSummaryData = [] %}

{% for team_member in team_members %}

  {% set teamMemberEditHref = "/github/update/team-member/" + team_member.id %}
  {% set teamMemberDeleteHref = "/github/remove/team-member/" + team_member.id %} 

  {% set teamMemberSummaryData = (teamMemberSummaryData.push({
    key: { 
      text: team_member.team_name + "'s" + " new member name(s)"
    },
    value: {
      text: team_member.github_handles
    },
    actions: {
      items: [
        {
          href: teamMemberEditHref,
          text: "Edit",
          visuallyHiddenText: team_member.team_name + "'s" + " new member name(s)"
        },
        {
          href: teamMemberDeleteHref,
          text: "Delete",
          visuallyHiddenText: team_member.team_name + "'s" + " new member name(s)"
        }
      ]
    }
  }), teamMemberSummaryData) %}

{% endfor %}

{{ govukSummaryList({
  rows: teamMemberSummaryData
}) }}