{% set previousPageQueryParam = "?" + PARAMS.previousPage + "=" + ROUTES.CHECK_YOUR_REQUESTS_URL %}

{% for member in members %}

  {% set firstNameHref = "/github/update/member/" + member.id + previousPageQueryParam + "#first_name" %}
  {% set lastNameHref = "/github/update/member/" + member.id + previousPageQueryParam + "#last_name" %}
  {% set githubHandleHref = "/github/update/member/" + member.id + previousPageQueryParam + "#github_handle" %}
  {% set emailAddressHref = "/github/update/member/" + member.id + previousPageQueryParam + "#email_address" %}
  {% set contractTypeHref = "/github/update/member/" + member.id + previousPageQueryParam + "#contract_type" %}
  {% set descriptionHref = "/github/update/member/" + member.id + previousPageQueryParam + "#description" %}

  <br>
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "First Name"
        },
        value: {
          text: member.first_name
        },
        actions: {
          items: [
            {
              href: firstNameHref,
              text: "Change",
              visuallyHiddenText: "First Name"
            }
          ]
        }
      },
      {
        key: {
          text: "Last Name"
        },
        value: {
          text: member.last_name
        },
        actions: {
          items: [
            {
              href: lastNameHref,
              text: "Change",
              visuallyHiddenText: "Last Name"
            }
          ]
        }
      },
      {
        key: {
          text: "GitHub Handle"
        },
        value: {
          text: member.github_handle
        },
        actions: {
          items: [
            {
              href: githubHandleHref,
              text: "Change",
              visuallyHiddenText: "Github Handle"
            }
          ]
        }
      },
      {
        key: {
          text: "Email Address"
        },
        value: {
          text: member.email_address
        },
        actions: {
          items: [
            {
              href: emailAddressHref,
              text: "Change",
              visuallyHiddenText: "Email Address"
            }
          ]
        }
      },
      {
        key: {
          text: "Contract type"
        },
        value: {
          text: member.contract_type | capitalize | replace("_", "-")
        },
        actions: {
          items: [
            {
              href: contractTypeHref,
              text: "Change",
              visuallyHiddenText: "Contract type"
            }
          ]
        }
      },
      {
        key: {
          text: "Description"
        },
        value: {
          html: member.description
        },
        actions: {
          items: [
            {
              href: descriptionHref,
              text: "Change",
              visuallyHiddenText: "description"
            }
          ]
        }
      }
    ]
  }) }}
{% endfor %}