{% set previousPageQueryParam = "?" + PARAMS.previousPage + "=" + ROUTES.CHECK_YOUR_REQUESTS_URL %}

{% for repo in repos %}

  {% set repoHref = "/github/update/repo/" + repo.id + previousPageQueryParam + "#repo_name" %}
  {% set visibilityHref = "/github/update/repo/" + repo.id + previousPageQueryParam + "#visibility" %}
  {% set descriptionHref = "/github/update/repo/" + repo.id + previousPageQueryParam + "#description" %}

  <br>
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Repository name"
        },
        value: {
          text: repo.repo_name
        },
        actions: {
          items: [
            {
              href: repoHref,
              text: "Change",
              visuallyHiddenText: "Repository name"
            }
          ]
        }
      },
      {
        key: {
          text: "Repository visibility"
        },
        value: {
          text: repo.visibility | capitalize
        },
        actions: {
          items: [
            {
              href: visibilityHref,
              text: "Change",
              visuallyHiddenText: "Repository visibility"
            }
          ]
        }
      },
      {
        key: {
          text: "Description"
        },
        value: {
          html: repo.description
        },
        actions: {
          items: [
            {
              href: descriptionHref,
              text: "Change",
              visuallyHiddenText: "description"
            }
          ]
        }
      }
    ]
  }) }}
{% endfor %}