{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/landing-page"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Additional GitHub Repository Request (e.g. permission changes)</h1>

      <p class="govuk-body">
        To request a more specific repo request that is not covered by the other options, such as permission changes.
      <form method="post" novalidate>

        {{ govukInput({
          label: {
            text: "Repository name",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "repo-name",
          name: "repo_name"
        }) }}
        {{ govukTextarea({
            name: "description",
            id: "description",
            label: {
              text: "Description - (e.g. Permission changes) ",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            hint: {
              text: "Include more details to why this GitHub repository request needs to be
              added."
            }
          }) }}

        {{ govukButton({
          text: "Save"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}