{% extends "layout.html" %}

{% block backLink %}
  {% include "include/back-link.html" %}
{% endblock %}

{% block pageContent %}
  <h1 class="govuk-heading-l">Add a new repository</h1>

  <p class="govuk-body">
    GitHub repositories contains all of your code, your files, and each file's revision history. You can discuss and manage your work within the repository.
  </p>

  {% include "include/error-list.html" %}

  <form method="post" novalidate>

    {% include "include/inputs/repo-name.html" %}

    {{ govukRadios({
      errorMessage: errors.visibility if errors,
      name: "visibility",
      fieldset: {
        legend: {
          text: "Repository visibility",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "public",
          text: "Public", 
          checked: (visibility == "public")
        },
        {
          value: "private",
          text: "Private", 
          checked: (visibility == "private")
        }
      ]
    }) }}

    {% set descriptionText = "Description (optional)" %}
    {% set descriptionHint = "Explain the reason for adding this repository." %}

    {% include "include/description.html" %}

    {% include "include/save-button.html" %}

  </form>
{% endblock %}