{% extends "layout.html" %}

{% block backLink %}
  {% include "include/back-link.html" %}
{% endblock %}

{% block pageContent %}
  <h1 class="govuk-heading-l">Add Member(s) to Team.</h1>

  <p class="govuk-body">
    When user(s) has access to our GitHub organisations and they wish to be added to a team within the cabinetoffice GitHub organisation.
  </p>

  {% include "include/error-list.html" %}

  <form method="post" novalidate>

    {% include "include/inputs/team-name.html" %}

    {% set githubHandlesText = "Member GitHub handle(s)" %}
    {% set githubHandlesHint = "For multiple members, enter GitHub handles as comma-separated values. For example, username1, username2, username3" %}
    {% include "include/inputs/github-handles.html" %}

    {% include "include/save-button.html" %}
        
  </form>

  {% set removePathURL = "/add-team-member/remove/" + id %}
  {% include "include/remove-button.html" %}
{% endblock %}