{% extends "layout.html" %}

{% block beforeContent %}
  {% include "include/back-link.html" %}
{% endblock %}

{% block pageContent %}
  <h1 class="govuk-heading-l">Add a New Collaborator to a Repository</h1>

  <p class="govuk-body">
    When you want to grant more granular access to a repository, you can add an external collaborator directly to the repository.
  </p>

  {% include "include/error-list.html" %}

  <form method="post" novalidate>

    {{ govukInput({
      errorMessage: errors.first_name if errors,
      label: {
        text: "First Name",
        classes: "govuk-label--m"
      },
      classes: "govuk-input--width-20",
      id: "first_name",
      name: "first_name",
      value: first_name
    }) }}

    {{ govukInput({
      errorMessage: errors.last_name if errors,
      label: {
        text: "Last Name",
        classes: "govuk-label--m"
      },
      classes: "govuk-input--width-20",
      id: "last_name",
      name: "last_name",
      value: last_name
    }) }}

    {% set githubHandleText = "GitHub Handle" %}
    {% include "include/inputs/github-handle.html" %}

    {{ govukInput({
      errorMessage: errors.email_address if errors,
      label: {
        text: "Email Address",
        classes: "govuk-label--m"
      },
      classes: "govuk-input--width-20",
      id: "email_address",
      name: "email_address",
      value: email_address,
      type: "email",
      spellcheck: false
    }) }}

    {% include "include/inputs/repo-name.html" %}

    {% include "include/save-button.html" %}

    {% set removePathURL = "/add-collaborator/remove/" + id %}
    {% include "include/remove-button.html" %}

  </form>
{%endblock%}