{% extends "layout.html" %}

{% block beforeContent %}
  {% include "include/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Add a GitHub Repository</h1>

      <p class="govuk-body">
        GitHub repositories contains all of your code, your files, and each file's revision history. You can discuss and manage your work within the repository.
      </p>

      <form method="post" novalidate>

        {{ govukInput({
          label: {
            text: "Repository name",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "repo-name",
          name: "repo_name"
        }) }}

        {{ govukRadios({
          name: "visibility",
          fieldset: {
            legend: {
              text: "Repository visibility",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "public",
              text: "Public"
            },
            {
              value: "private",
              text: "Private"
            }
          ]
        }) }}

        {{ govukTextarea({
            name: "description",
            id: "description",
            label: {
              text: "Description (optional)",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            hint: {
              text: "Include more details to why this GitHub repository needs to be
              added."
            }
          }) }}

          {% include "include/save-button.html" %}

      </form>
    </div>
  </div>
{% endblock %}