{% extends "layout.html" %}

{% block beforeContent %}
  {% include "include/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Add a GitHub Team</h1>

      <p class="govuk-body">
        Github Teams can be used to manage repository permissions and mentions for groups of members.
      </p>

      {% include "include/error-list.html" %}

      <form method="post"  novalidate>

        {{ govukInput({
          errorMessage: errors.team_name if errors,
          label: {
            text: "Team name",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "team_name",
          name: "team_name",
          value: team_name
        }) }}

        {{ govukInput({
          errorMessage: errors.team_maintainer_github_handle if errors,
          label: {
            text: "Team maintainer GitHub handle",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "team-maintainer-github-handle",
          name: "team_maintainer_github_handle",
          value: team_maintainer_github_handle
        }) }}

        {{ govukTextarea({
          errorMessage: errors.description if errors,
          value: description,
          name: "description",
          id: "description",
          label: {
            text: "Description (optional)",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Include more details to why this GitHub repository needs to be
            added."
          }
        }) }}
        
        {% include "include/save-button.html" %}

        
      </form>
    </div>
  </div>
{% endblock %}