{% extends "layout.html" %}

{% block backLink %}
  {% include "include/back-link.html" %}
{% endblock %}

{% block pageContent %}
  <h1 class="govuk-heading-xl">Check your requests before sending your application</h1>

  {% if (add_member and add_member.length > 0) %}
    <h2 class="govuk-heading-l">Members details</h2>
    {% include "include/check-your-requests/add_member.html" %}
    <br>
  {% endif %}
  {% if (add_team and add_team.length > 0) %}
    <h2 class="govuk-heading-l">Teams details</h2>
    {% include "include/check-your-requests/add_team.html" %}
    <br>
  {% endif %}
  {% if (add_team_member and add_team_member.length > 0) %}
      <h2 class="govuk-heading-l">Member(s) to Team details</h2>
      {% include "include/check-your-requests/add_team_member.html" %}
      <br>
  {% endif %}
  {% if (add_repo and add_repo.length > 0) %}
    <h2 class="govuk-heading-l">Repositories details</h2>
    {% include "include/check-your-requests/add_repo.html" %}
    <br>
  {% endif %}
  {% if (add_collaborator and add_collaborator.length > 0) %}
      <h2 class="govuk-heading-l">Collaborators details</h2>
      {% include "include/check-your-requests/add_collaborator.html" %}
      <br>
  {% endif %}
  {% if (additional_requests and additional_requests.length > 0) %}
    <h2 class="govuk-heading-l">Additional Requests details</h2>
    {% include "include/check-your-requests/additional_requests.html" %}
    <br>
  {% endif %}

  <form method="post">
    <div class="govuk-button-group">
        {{ govukButton({
            text: "Submit",
            attributes: {
                "id": "submit"
            }
        }) }}
    </div>
  </form>
{% endblock %}