{% extends "layout.html" %}

{% block backLink %}
  {% include "include/back-link.html" %}
{% endblock %}

{% block pageContent %}
  <h1 class="govuk-heading-xl">Check your requests before sending your application</h1>

  {% if (members and members.length > 0) %}
    <h2 class="govuk-heading-m">Members details</h2>
    {% include "include/check-your-requests/member.html" %}
    <br>
  {% endif %}
  {% if (add_team and add_team.length > 0) %}
    <h2 class="govuk-heading-m">Teams details</h2>
    {% include "include/check-your-requests/add-team.html" %}
    <br>
  {% endif %}
  {% if (add_team_member and add_team_member.length > 0) %}
    <h2 class="govuk-heading-m">Member(s) to Team details</h2>
    {% include "include/check-your-requests/add-team-member.html" %}
    <br>
  {% endif %}
  {% if (repos and repos.length > 0) %}
    <h2 class="govuk-heading-m">Repositories details</h2>
    {% include "include/check-your-requests/repo.html" %}
    <br>
  {% endif %}
  {% if (collaborator and collaborator.length > 0) %}
    <h2 class="govuk-heading-m">Collaborators details</h2>
    {% include "include/check-your-requests/collaborator.html" %}
    <br>
  {% endif %}
  {% if (additional_requests and additional_requests.length > 0) %}
    <h2 class="govuk-heading-m">Additional Requests details</h2>
    {% include "include/check-your-requests/additional-requests.html" %}
    <br>
  {% endif %}

  <form method="post">
    <div class="govuk-button-group">
        {{ govukButton({
            text: "Submit",
            attributes: {
                "id": "submit"
            }
        }) }}
    </div>
  </form>
{% endblock %}