{% extends "layout.html" %}

{% block pageContent %}

  <h1 class="govuk-heading-l">Contact us</h1>

  <p class="govuk-body">If you need any further assistance - contact us at: github-requests.cpe@digital.cabinet-office.gov.uk</p>

  <h2 class="govuk-heading-m">Office hours</h2>

  <p class="govuk-body">We can only respond to your support queries during office hours. Our office hours are 9:00am to 5:00pm, Monday to Friday.</p>

  <p class="govuk-body">When you get in touch during office hours, we’ll try to reply within 5 working days.</p>

{% endblock %}