{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
        
  <!-- <main class="govuk-main-wrapper"> -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">GitHub request application</h1>
        <p class="govuk-body">This application has been designed to streamline and enhance the management of GitHub member requests. This tool will allow GitHub administrators to efficiently handle member-related tasks, including adding, deleting, and amending user permissions.</p>

        <h1 class="govuk-heading-m">
          Please choose from one of the following options:
        </h1>

        <h2 class="govuk-heading-s">Member Requests</h2>
        <ul class="govuk-list--bullet govuk-list--spaced govuk-link">
          <li>
            <a class="govuk-link" href="/add-member">Add Member</a>
          </li>
          <li>
            <a class="govuk-link" href="/remove-member">Remove Member</a>
          </li>
          <li>
            <a class="govuk-link" href="/member-request">Additional Member Requests (e.g permission change)</a>
          </li>
        </ul>
        <br>
        <h2 class="govuk-heading-s">Team Requests</h2>
        <ul class="govuk-list--bullet govuk-list--spaced govuk-link">
          <li>
            <a class="govuk-link" href="/add-team">Add Team</a>
          </li>
          <li>
            <a class="govuk-link" href="/add-team-member">Add Member Per Team</a>
          </li>
          <li>
            <a class="govuk-link" href="/team-request">Additional Team Requests (e.g parent team)</a>
          </li>
        </ul>
        <br>
        <h2 class="govuk-heading-s">Repository requests</h2>
        <ul class="govuk-list--bullet govuk-list--spaced govuk-link">
          <li>
            <a class="govuk-link" href="/add-repo">Add Repository</a>
          </li>
          <li>
            <a class="govuk-link" href="/repo-request">Additional Repository Requests (e.g permission changes)</a>
          </li>
        </ul>

        <form method="post">
          {% if (add_team and add_team.length > 0)
            or (add_repo and add_repo.length > 0)
            or (add_member and add_member.length > 0) %}
  
            <br>
            <br>
            <h2 class="govuk-heading-l govuk-!-margin-0">What you have added so far:</h2>
            <br>

            {% include "include/list/added.html" %}

            {{ govukButton({
              text: "No more to add",
              attributes: {
                "id": "submit"
              },
              classes: "govuk-button--secondary govuk-!-margin-top-6",
              href: "/check-your-answers"
            }) }}

          {% endif %}
        </form>
      </div>
    </div>
  <!-- </main> -->
</div>
{% endblock %}