{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
        
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">GitHub request application</h1>
        <p class="govuk-body">This application has been designed to streamline and enhance the management of GitHub member requests. This tool will allow GitHub administrators to efficiently handle member-related tasks, including adding, deleting, and amending user permissions.</p>
        <h1 class="govuk-heading-m">
          Please choose from one of the following options:
      </h1>
        <h2 class="govuk-heading-s">Member Requests</h2>
        <ul class="govuk-list--bullet govuk-list--spaced govuk-link">
          <li>
            <a class="govuk-link" href="#">Add Member</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Remove Member</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Additional Member Requests (e.g permission change)</a>
          </li>
        </ul>
        <br>
        <h2 class="govuk-heading-s">Team Requests</h2>
        <ul class="govuk-list--bullet govuk-list--spaced govuk-link">
          <li>
            <a class="govuk-link" href="#">Add Team</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Add Member Per Team</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Additonal Team Requests (e.g parent team)</a>
          </li>
        </ul>
        <br>
        <h2 class="govuk-heading-s">Repo requests</h2>
        <ul class="govuk-list--bullet govuk-list--spaced govuk-link">
          <li>
            <a class="govuk-link" href="#">Add Repo</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Additonal Repo Requests (e.g permission changes)</a>
          </li>
        </ul>
      </div>
    </div>
  </main>
</div>
{% endblock %}