{% extends "govuk/template.njk" %}

{% from "govuk/components/footer/macro.njk"                 import govukFooter %}
{% from "govuk/components/header/macro.njk"                 import govukHeader %}
{% from "govuk/components/error-summary/macro.njk"          import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk"                  import govukPanel %}
{% from "govuk/components/input/macro.njk"                  import govukInput %}
{% from "govuk/components/fieldset/macro.njk"               import govukFieldset %}
{% from "govuk/components/button/macro.njk"                 import govukButton %}
{% from "govuk/components/back-link/macro.njk"              import govukBackLink %}
{% from "govuk/components/radios/macro.njk"                 import govukRadios %}
{% from "govuk/components/date-input/macro.njk"             import govukDateInput %}
{% from "govuk/components/textarea/macro.njk"               import govukTextarea %}
{% from "govuk/components/radios/macro.njk"                 import govukRadios %}
{% from "govuk/components/inset-text/macro.njk"             import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk"           import govukSummaryList %}
{% from "govuk/components/select/macro.njk"                 import govukSelect %}
{% from "govuk/components/cookie-banner/macro.njk"          import govukCookieBanner %}
{% from "govuk/components/phase-banner/macro.njk"           import govukPhaseBanner %}
{% from "govuk/components/notification-banner/macro.njk"    import govukNotificationBanner %}

{% block head %}
  <link rel="stylesheet" type="text/css" media="all" href="//{{CDN_HOST}}/stylesheets/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.css">

  <link rel="SHORTCUT ICON" href="//{{CDN_HOST}}/images/favicon.ico"/>
  <link rel="icon" href="//{{CDN_HOST}}/images/favicon.ico" type="image/x-icon"/>
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    serviceName: SERVICE_NAME,
    serviceUrl: SERVICE_URL,
    useTudorCrown: true,
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block bodyStart %}
  {% if not skip_cookie_banner %}
    {% include "include/cookie-consent-banner.html" %}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% include "include/phase-banner.html" %}
  {% block backLink %}
  {% endblock %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block pageContent %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#",
          text: "Policies"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/contact-us",
          text: "Contact us"
        },
        {
          href: "/accessibility-statement",
          text: "Accessibility"
        }
      ]
    }
  }) }} 
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/javascripts/cookies.js"></script>
  <script src="//{{CDN_HOST}}/javascripts/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}