{% extends "layout.html" %}

{% block beforeContent %}
  {% include "include/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Additional Member Requests</h1>

      <p class="govuk-body">
        To request a more specific member request that is not covered by the other options.
      </p>

      {% include "include/error-list.html" %}

      <form method="post" novalidate>

        {% include "include/inputs/github-handle.html" %}

        {% set descriptionText = "Description - Permission changes (required)" %}
        {% set descriptionHint = "Explain the reason for making this member request." %}

        {% include "include/description.html" %}

        {% include "include/save-button.html" %}
        
      </form>
    </div>
  </div>
{% endblock %}
