{% extends "layout.html" %}

{% block beforeContent %}
  {% include "include/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Additional Member Request</h1>

      <p class="govuk-body">
        Use this page to request a more specific member request that is not covered by the other options.
      </p>

      <form method="post" novalidate>

        {{ govukInput({
          label: {
            text: "GitHub Handle",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "github-handle",
          name: "github_handle"
        }) }}

        {{ govukTextarea({
          name: "description",
          id: "description",
          label: {
            text: "Description - Permission changes",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Include a description on what request you would like completed."
          }
        }) }}

        {% include "include/save-button.html" %}
        
      </form>
    </div>
  </div>
{% endblock %}
