{% extends "layout.html" %}

{% block beforeContent %}
  {% include "include/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Remove a GitHub Member</h1>

      <p class="govuk-body">
        When a user no longer requires access to our GitHub organisations(e.g they have left The Cabinet Office) they should be removed from the cabinetoffice GitHub organisation.
      </p>

      {% include "include/error-list.html" %}

      <form method="post">

        {% include "include/inputs/github-handle.html" %}

        {% set descriptionText = "Description (optional)" %}
        {% set descriptionHint = "Explain the reason for removing this member." %}

        {% include "include/description.html" %}

        {% include "include/save-button.html" %}

      </form>
    </div>
  </div>
{% endblock %}
