{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/landing-page"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Remove a GitHub Member</h1>

      <p class="govuk-body">
        When a user no longer requires access to our GitHub orgnizations(e.g they have left The Cabinet Office) they should be removed from the Cabinet Office GitHub orgnization.
      </p>

      <form method="post" novalidate>

        {{ govukInput({
          label: {
            text: "GitHub Handle",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "github-handle",
          name: "gitHubHandle"
        }) }}

        {{ govukTextarea({
            name: "moreDetail",
            id: "more-detail",
            label: {
              text: "Details (optional)",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            hint: {
              text: "Include more details to why this user is getting removed."
            }
          }) }}
        {{ govukButton({
          text: "Save"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
