{% extends "layout.html" %}

{% block beforeContent %}
  {% include "include/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Additional Repository Requests</h1>

      <p class="govuk-body">
        Use this page for more specific repository requests which are not covered by the other options.
      </p>

      {% include "include/error-list.html" %}

      <form method="post" novalidate>

        {{ govukInput({
          errorMessage: errors.repo_name if errors,
          label: {
            text: "Repository name",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "repo_name",
          name: "repo_name",
          value: repo_name
        }) }}

        {{ govukTextarea({
          errorMessage: errors.description if errors,
          value: description,
          name: "description",
          id: "description",
          label: {
            text: "Description - (e.g. Permission changes)",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Include a description of the request you would like to have completed."
          }
        }) }}

        {% include "include/save-button.html" %}

      </form>
    </div>
  </div>
{% endblock %}