{% extends "layout.html" %}

{% block beforeContent %}
  {% include "include/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Additional Repository Requests</h1>

      <p class="govuk-body">
        Use this page for more specific repository requests which are not covered by the other options.
      </p>

      {% include "include/error-list.html" %}

      <form method="post" novalidate>

        {% include "include/inputs/repo-name.html" %}

        {% set descriptionText = "Description - Permission changes (required)" %}
        {% set descriptionHint = "Explain the reason for making this repository request." %}

        {% include "include/description.html" %}

        {% include "include/save-button.html" %}

      </form>
    </div>
  </div>
{% endblock %}