{% extends "layout.html" %}

{% block backLink %}
  {% include "include/back-link.html" %}
{% endblock %}

{% block pageContent %}
  <h1 class="govuk-heading-l">Add a new team</h1>

  <p class="govuk-body">
    Teams are groups of organisation members that reflect your company or group's structure with cascading access permissions and mentions.
  </p>

  {% include "include/error-list.html" %}

  <form method="post" novalidate>

    {% include "include/inputs/team-name.html" %}

    {% set githubHandleText = "Team maintainer GitHub handle" %}
    {% include "include/inputs/github-handle.html" %}

    {% set descriptionText = "Description (optional)" %}
    {% set descriptionHint = "Explain the reason for adding this team." %}

    {% include "include/description.html" %}

    {% include "include/save-button.html" %}
    
  </form>
{% endblock %}