{% extends "layout.html" %}

{% block beforeContent %}
  {% include "include/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Additional Team Request</h1>

      <p class="govuk-body">
        Use this page to request a more specific request that is not covered by the other options.
      </p>
      {% include "include/error-list.html" %}
      <form method="post" novalidate>

        {{ govukInput({
          errorMessage: errors.team_name if errors,
          label: {
            text: "Team Name",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "team_name",
          name: "team_name",
          value: team_name
        }) }}

        {{ govukTextarea({
          errorMessage: errors.description if errors,
          name: "description",
          id: "description",
          value: description,
          label: {
            text: "Description - Permission changes",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Include a description on what request you would like completed."
          }
        }) }}

        {% include "include/save-button.html" %}
        
      </form>
    </div>
  </div>
{% endblock %}
